body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #0a1f44;
    color: #fff;
    font-family: "Oswald", sans-serif;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 10px auto;
}

.btn {
    width: 100%;
    height: auto;
    background: #ff1e42;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    
    &:hover,
    &:focus {
        background: #c3112d;
    }
}