header {
    display: flex;
    justify-content: center;
    padding: 40px;
    max-width: 800px;
    align-self: center;

    h1 {
        font-size: 40px;
        line-height: 1.5;

        @media(max-width: 450px) {
            font-size: 28px;
        }
    }
}
